<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="footer">
    <div class="footer-top">
    <div class="container-E">
        <div class="footer-top-left">
           <img src="img/log.png">
            <p>
                10:00~17:00 (점심시간 12:00~13:30)
                <br>
                주말, 공휴일 휴무
            </p>
            <button type="button" class="btn">1:1 문의하기</button>
            <h6>
                긱톡커는 서비스 중개 플랫폼입니다.
                <br>
                작업 의뢰는 전문가에게 직접 문의해 주세요.
            </h6>
        </div>
        <div class="footer-top-right">
            <dl>
                <dt>소개</dt>
                <dd>
                    <a href="#">긱톡커란?</a>
                </dd>
                <dd>
                    <a href="#">전문가신청안내</a>
                </dd>
                <dd>
                    <a href="#">사용 가이드</a>
                </dd>
            </dl>
            <dl>
                <dt>내활동</dt>
                <dd>
                    <a href="#">맞춤주문내역</a>
                </dd>
                <dd>
                    <a href="#">구매내역</a>
                </dd>
                <dd>
                    <a href="#">구매후기</a>
                </dd>
                <dd>
                    <a href="#">채팅내역</a>
                </dd>
            </dl>
            <dl>
                <dt>전문가활동</dt>
                <dd>
                    <a href="#">전문가 센터</a>
                </dd>
                <dd>
                    <a href="#">고객요청서</a>
                </dd>
                <dd>
                    <a href="#">판매관리</a>
                </dd>
                <dd>
                    <a href="#">내 상품관리</a>
                </dd>
                <dd>
                    <a href="#">광고관리</a>
                </dd>
            </dl>
        </div>
    </div>
   </div>
    <div class="footer-nav">
        <div class="container-F">
            <ul>
                <li>
                    <a href="#">이용약관</a>
                </li>
                <li>
                    <a href="#">개인정보처리방침</a>
                </li>
                <li>
                    <a href="#">전문가 이용약관</a>
                </li>
                <li>
                    <a href="#">공지사항</a>
                </li>
                <li>
                    <a href="#">자주 묻는 질문</a>
                </li>
                <li>
                    <a href="/notic">고객센터</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-info">
        <div class="container-G">
            <h5>
                긱톡커는 전문가중개시스템의 제공자로서 통신판매의 당사자가 아닙니다. 상품의 판매, 상담 내용을 포함하여 용역 및 강의의 이행, 환불 등 상품과 관련한 의무와 책임은 각 판매자에게 있습니다.
                <br>
                또한 긱톡커는 본 플랫폼 외부에서 이루어진 상담 등으로 인하여 발생한 문제에 대해서도 마찬가지로 책임을 지지 않습니다.
            </h5>
            <h6>
                사업자등록증 :
                <span>548-87-01652</span>
                대표자
                <span>한기호</span>
                통신판매업신고번호 :
                <span>제2020-서울마포-0190호</span>
                이메일문의 :
                <span>help@gigtalker.com</span>
                <br>
                (주)이엠케이미디어
                <span>서울시 마포구 독막로 262 신영빌딩 6층</span>
                취업정보제공사업신청 :
                <span>서울서부제2020-15호</span>
                대표전화
                <span>1551-7115</span>
            </h6>
            <p>©gigtalker. All rights reserved.</p>
        </div>
    </div>
</div>


</html>