@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --dropdown-placeholder: "Select an option";
    --gt-info: #10A9FF;
    --gt-success: #32C771;
    --gt-warning: #FF9659;
    --gt-error: #EB5757;
    --gt-primary: #3B00CC;
    --gt-secondary: #7B78FF;
    --gt-write: #ffffff;
    --gt-black-01: #000000;
    --gt-black-02: #1D1D1D;
    --gt-black-03: #282828;
    --gt-gray-01: #333333;
    --gt-gray-02: #4f4f4f;
    --gt-gray-03: #828282;
    --gt-gray-04: #bdbdbd;
    --gt-gray-05: #e0e0e0;
    --gt-gray-06: #f0f0f0;
    --gt-gray-07: #f5f5f5;
    --gt-gray-08: #FAFAFA;
    --gt-primary-bg: #F4F3FD;
    --gt-gray-bg: #F7F7FA;
    --gt-sky-bg: #ECF5FB;
    --gt-body-font-size: 16px;
    --gt-body-font-weight: 400;
    --gt-font-sans-serif: "NotoSansKR", sans-serif;
    --gt-text-lg: 16px;
    --gt-text-md: 14px;
    --gt-text-sm: 13px;
    --gt-text-mn: 12px;
    --gt-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

#container{
    width: 100%;
    height: 1500px;
}

.expert-center {
    padding: 87px 0 100px;
    height: 100%;
}

.expert-center .container {
    display: flex;
    gap: 60px;
}

.container {
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
}

.sc-sidebar {
    flex: 0 0 auto;
    width: 280px;
}

.expert-profile {
    padding: 28px 0;
    position: relative;
}

.expert-profile h5 {
    font-size: var(--gt-text-md);
    font-weight: 700;
    margin: 8px 0;
    text-align: center;
}

.sc-sidebar h6 {
    align-items: center;
    border-bottom: 5px solid var(--gt-black-01);
    color: var(--gt-black-03);
    display: flex;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-between;
    padding: 0 0 16px;
}

.sc-sidebar h6 span {
    font-size: 18px;
    font-weight: 700;
}

.sc-menu {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0;
}

.sc-menu li.active a {
    color: var(--gt-black-01);
}
.sc-menu li {
    border-bottom: 1px solid var(--gt-gray-05);
}

.sc-menu li a {
    color: var(--gt-gray-03);
    display: block;
    font-size: 18px;
    padding: 8px 16px;
    position: relative;
}
.sc-menu li.active a:before {
    background: #8437dd;
    border-radius: 100px;
    content: "";
    display: inline-block;
    height: 6px;
    left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
}

.ec-content {
    width: calc(100% - 340px);
}

.ec-main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ec-main-box {
    border: 1px solid var(--gt-gray-05);
    border-radius: 10px;
    padding: 40px 40px 48px;
    position: relative;
}

.ec-main-box h1 {
    color: var(--gt-gray-01);
    font-size: 27px;
    line-height: 28px;
    margin: 0 0 36px;
}

.btn-primary {
    background: var(--gt-primary);
    border: 1px solid var(--gt-primary);
    color: var(--gt-write);
}

.ec-main-box button {
    font-size: 15px;
}

.btn-lg {
    height: 50px;
    width: 190px;
}

.btn {
    border-radius: 6px;
}

.ec-main-box:after{
    background: url("../img/ec-img-01-PWjy6OoX.png");
    background-size: cover;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 196px;
    position: absolute;
    right: 132px;
    width: 286px;
}

.ec-main-box-area {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ec-main-box-area h4 {
    align-items: center;
    color: var(--gt-black-03);
    display: flex;
    font-size: 27px;
    justify-content: space-between;
}


.ec-main-box-area h4 a {
    color: var(--gt-gray-03);
    font-size: 16px;
    font-weight: 400;
}

.ec-main-box.type2 {
    padding: 20px 28px;
}

.ec-main-box {
    border: 1px solid var(--gt-gray-05);
    border-radius: 10px;
    padding: 40px 40px 48px;
    position: relative;
}

.ec-main-boxl{
    border: 1px solid var(--gt-gray-05);
    border-radius: 10px;
    padding: 40px 40px 48px;
    position: relative;
}

.service-cs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 314px;
}

.service-cs dl {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.service-cs dt {
    color: var(--gt-gray-02);
    font-size: 18px;
}

.service-cs dd {
    color: var(--gt-gray-02);
    font-size: 18px;
}

.service-cs dd span {
    color: var(--gt-gray-01);
    font-size: 30px;
    font-weight: 700;
}