@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --dropdown-placeholder: "Select an option";
    --gt-info: #10A9FF;
    --gt-success: #32C771;
    --gt-warning: #FF9659;
    --gt-error: #EB5757;
    --gt-primary: #3B00CC;
    --gt-secondary: #7B78FF;
    --gt-write: #ffffff;
    --gt-black-01: #000000;
    --gt-black-02: #1D1D1D;
    --gt-black-03: #282828;
    --gt-gray-01: #333333;
    --gt-gray-02: #4f4f4f;
    --gt-gray-03: #828282;
    --gt-gray-04: #bdbdbd;
    --gt-gray-05: #e0e0e0;
    --gt-gray-06: #f0f0f0;
    --gt-gray-07: #f5f5f5;
    --gt-gray-08: #FAFAFA;
    --gt-primary-bg: #F4F3FD;
    --gt-gray-bg: #F7F7FA;
    --gt-sky-bg: #ECF5FB;
    --gt-body-font-size: 16px;
    --gt-body-font-weight: 400;
    --gt-font-sans-serif: "NotoSansKR", sans-serif;
    --gt-text-lg: 16px;
    --gt-text-md: 14px;
    --gt-text-sm: 13px;
    --gt-text-mn: 12px;
    --gt-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}



html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

button {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
    transition: .5s all;
}


.header-wap{
    width: 100%;
    height: 220px;
}

.header-topwarp{
    width: 100%;
    height: 158px;
}

.header-top{
    padding: 36px 0 32px;
    position: relative;
    top: 29px;
}

.header-top > .container{
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1700px;
    height: 60px;
}

.header-logo {
    align-items: center;
    font-size: 20px;
    font-weight: 50;
    display: flex
;
    gap: 12px;
}

.header-logo img {
    height: 28px;
}

.container > .input-search{
    margin: 0 0 0 28px;
    width: 390px;
}

.input-search input[type=text] {
    background: #fff;
    border: 1px solid var(--gt-secondary);
    border-radius: 12px;
    color: var(--gt-gray-01);
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    padding: 0 16px 0 46px;
    transition: all .5s;
    width: 120%;
}
.input-search button {
    background: none;
    border: 0;
    padding: 0;
    transform: translateY(-110%);

}

.i-search-p{
    background: url("../img/eheqhrl.png");
    display: block;
    height: 40px;
    width: 40px;
}

.header-top-right {
    align-items: center;
    display: flex;
    gap: 24px;
    margin: 0 0 0 auto;
}

.header-top-right .language {
    align-items: center;
    color: #5c5a54;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    gap: 4px;
}

.i-language{
    background: url("../img/wlrn.png");
    display: block;
    width: 45px;
    height: 45px;
}

.header-top-right li {
    display: flex;
    position: relative;
}

.header-top-right li a {
    color: var(--gt-black-01);
    display: flex;
    font-size: 18px;
}

.dropdown-group .dropdown-list-wrap {
    position: relative;
    width: 100%;
}

.dropdown-button {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: var(--gt-black-03);
    font-size: var(--gt-text-sm);
    font-weight: 400;
    justify-content: flex-start;
    height: 40px;
    padding: 0 40px 0 16px;
    position: relative;
    width: 100%;
}

.user-photo {
    align-items: center;
    border-radius: 100px;
    background: var(--gt-warning);
    background-size: cover !important;
    color: #fff;
    font-size: var(--gt-text-mn);
    display: flex
;
    height: 24px;
    justify-content: center;
    position: relative;
    width: 24px;
}

.dropdown-group .header-user .dropdown-list {
    box-shadow: 0 4px 4px #00000040;
    background: #fff;
    padding: 8px 12px;
    top: 40px;
    right: 0;
    width: 132px;
    position: absolute;
    z-index: 11;
}

.dropdown-list li {
    height: auto;
    margin: 0 0 10px;
    padding: 0;
}


.dropdown-group .dropdown-list-wrap .dropdown-list li {
    align-items: center;
    border-radius: 4px;
    color: #191a1c;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    position: relative;
}

.i-logout{
    background: url("../img/logout.png");
    height: 27px;
    width: 27px;
}


.header-top-right button {
    font-size: 17px;
    cursor: pointer;
}

.btn-secondary {
    background: var(--gt-secondary);
    color: var(--gt-write);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.header-catagory {
    border-top: 1px solid var(--gt-gray-04);
    border-bottom: 1px solid var(--gt-gray-05);
    height: 60px;
    position: relative;
    z-index: 1;
}

.header-catagory ul {
    align-items: center;
    display: flex;
    gap: 16px;
    height: 52px;
}

.all-catagory {
    align-items: center;
    color: var(--gt-black-03);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    gap: 8px;
    margin: 0 16px 0 0;
}

.i-catagory {
    background: url(../img/menu.png);
    width: 24px;
    height: 27px;
    position: relative;
}

.header-catagory ul li a {
    color: var(--gt-black-03);
    display: block;
    font-size: 18px;
    padding: 8px 0;
    position: relative;
}
