@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --dropdown-placeholder: "Select an option";
    --gt-info: #10A9FF;
    --gt-success: #32C771;
    --gt-warning: #FF9659;
    --gt-error: #EB5757;
    --gt-primary: #3B00CC;
    --gt-secondary: #7B78FF;
    --gt-write: #ffffff;
    --gt-black-01: #000000;
    --gt-black-02: #1D1D1D;
    --gt-black-03: #282828;
    --gt-gray-01: #333333;
    --gt-gray-02: #4f4f4f;
    --gt-gray-03: #828282;
    --gt-gray-04: #bdbdbd;
    --gt-gray-05: #e0e0e0;
    --gt-gray-06: #f0f0f0;
    --gt-gray-07: #f5f5f5;
    --gt-gray-08: #FAFAFA;
    --gt-primary-bg: #F4F3FD;
    --gt-gray-bg: #F7F7FA;
    --gt-sky-bg: #ECF5FB;
    --gt-body-font-size: 16px;
    --gt-body-font-weight: 400;
    --gt-font-sans-serif: "NotoSansKR", sans-serif;
    --gt-text-lg: 16px;
    --gt-text-md: 14px;
    --gt-text-sm: 13px;
    --gt-text-mn: 12px;
    --gt-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}



html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

button {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
    transition: .5s all;
}

.login-wrap{
    width: 100%;
    height: 2000px;
    background-color: #cccccc42;
}
.container-a{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    height: 1500px;
}

.container-a > .login-area{
    padding: 80px 0;
    text-align: center;
    height: 900px;
}

.login-logo{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 0 24px;
}

.login-logo > img{
    height: 55px;
}

.login-area > .login{
    background: var(--gt-write);
    border: 1px solid #CCC;
    position: relative;
    height: 1000px;
}

.login-top{
    padding: 48px;
}

.login-top > h3 {
    font-size: 33px;
    line-height: 38px;
    margin: 0 0 10px;
}

.login-top > p{
    color: #666;
    font-size: 18px;
}

.login-top > .btn-group{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 48px 0 0;
}

.btn-group > button {
    border: 1px solid #999;
    color: #333;
    font-size: 23px;
    font-weight: 700;
    height: 80px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.btn-group button i {
    position: absolute;
    left: 24px;
}

.i-mail {
    background: url("../img/email.png") !important;
    height: 54px;
    width: 57px;
}

.i-google-log{
    background: url("../img/gollog.png")!important;
    height: 54px;
    width: 57px;
}

.i-kakao0kog{
    background: url("../img/카카오톡_아이콘.png") !important;
    height: 66px;
    width: 65px;
}

.login-bottom > img{
    width: 100%;
}

.login-bottom > h6{
    color: var(--gt-gray-01);
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
    padding: 24px 48px;
    text-align: left;
}

.login-bottom > h6 > a {
    color: var(--gt-gray-01);
    text-decoration: underline;
}