@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --dropdown-placeholder: "Select an option";
    --gt-info: #10A9FF;
    --gt-success: #32C771;
    --gt-warning: #FF9659;
    --gt-error: #EB5757;
    --gt-primary: #3B00CC;
    --gt-secondary: #7B78FF;
    --gt-write: #ffffff;
    --gt-black-01: #000000;
    --gt-black-02: #1D1D1D;
    --gt-black-03: #282828;
    --gt-gray-01: #333333;
    --gt-gray-02: #4f4f4f;
    --gt-gray-03: #828282;
    --gt-gray-04: #bdbdbd;
    --gt-gray-05: #e0e0e0;
    --gt-gray-06: #f0f0f0;
    --gt-gray-07: #f5f5f5;
    --gt-gray-08: #FAFAFA;
    --gt-primary-bg: #F4F3FD;
    --gt-gray-bg: #F7F7FA;
    --gt-sky-bg: #ECF5FB;
    --gt-body-font-size: 16px;
    --gt-body-font-weight: 400;
    --gt-font-sans-serif: "NotoSansKR", sans-serif;
    --gt-text-lg: 16px;
    --gt-text-md: 14px;
    --gt-text-sm: 13px;
    --gt-text-mn: 12px;
    --gt-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

button {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
    transition: .5s all;
}

.login-wrap{
    width: 100%;
    height: 1800px;
    background-color: #cccccc42;
}
.container-a{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    height: 1500px;
}

.container-a > .login-area{
    padding: 80px 0;
    text-align: center;
    height: 900px;
}

.login-logo{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 0 24px;
}

.login-logo > img{
    height: 55px;
}

.login-area > .login-email{
    background: var(--gt-write);
    border: 1px solid #CCC;
    position: relative;
    height: 1200px;
}

.back {
    align-items: center;
    color: var(--gt-black-01);
    font-size: 20px;
    display: flex;
    gap: 8px;
    position: absolute;
    left: 28px;
    top: 28px;
}

.i-back{
    background: url("../img/ghktkf.png") !important;
    height: 33px;
    width: 32px;
}

.login-email >.email-top{
    padding-top: 72px;
}

.email-top{
    padding: 48px;
}

.login-email > .email-top > h3{
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 8px;
}

.email-top > .input-wrap{
    flex-direction: column;
    margin: 48px 0 40px;
}

.input-wrap {
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.input-group label {
    color: var(--gt-black-01);
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.input-group.md input[type=text], .input-group.md input[type=password] {
    font-size: var(--gt-text-lg);
    height: 55px;
    padding: 0 20px;
}

.input-group input[type=text], .input-group input[type=password], .input-group input[type=number] {
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: var(--gt-gray-01);
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    padding: 0 16px;
    transition: all .5s;
}

.email-top > .input-group > p {
    color: #666;
    font-size: 19px;
}

.input-group p {
    align-items: center;
    color: var(--gt-gray-04);
    display: flex;
    font-size: 19px;
    justify-content: space-between;
    margin: 4px 0 0;
    text-align: left;
    width: 100%;
}

.input-group p a {
    color: var(--gt-black-01);
    font-size: 17px;
    margin: 0 0 0 auto;
    text-decoration: underline;
}

.btn-group {
    align-items: flex-start;
    gap: 12px;
    margin: 0;
}

.join-wrap .btn-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 48px 0 0;
}

.btn-group button {
    border: 1px solid #999;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.input-group > p {
    color: #666;
    font-size: 19px;
}

.btn-black {
    background: var(--gt-black-03);
    color: var(--gt-write) !important;
    border-radius: 10px;
}

.login-bottom > h6{
    color: var(--gt-gray-01);
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
    padding: 24px 48px;
    text-align: left;
}

.login-bottom > h6 > a {
    color: var(--gt-gray-01);
    text-decoration: underline;
}

.create-account-list {
    display: flex;
    gap: 32px;
    margin-top: 10px;
}

.create-account-list li {
    text-align: left;
    width: calc(45% - 16px);
}

.create-account-list li a {
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    height: 146px;
    padding: 16px 24px;
    width: 100%;
    transition: border-color 0.3s, background-color 0.3s; /* 부드러운 전환 효과 추가 */
}

.create-account-list li.active a {
    border-color: #007BFF; /* 원하는 색상으로 변경 */
    background-color: #e6f0ff; /* 선택 사항: 배경색 변경 */
}

.create-account-list li a:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

label{
    color: var(--gt-black-01);
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.create-account-list li h6 {
    color: var(--gt-gray-01);
    font-size: 19px;
    margin: auto 0 0;
}

.input-group.md input[type=email]{
    font-size: var(--gt-text-lg);
    height: 55px;
    padding: 0 20px;
}

.input-group input[type=email]{
    background: var(--gt-write);
    border: 1px solid var(--gt-gray-05);
    border-radius: 6px;
    color: var(--gt-gray-01);
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    padding: 0 16px;
    transition: all .5s;
}