<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/passwordfind.css}" rel="stylesheet">
    <th:block th:replace="~{'login/passwordfind' :: passwordfindScript}"></th:block>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="header-top type2">
            <div class="container">
                <a href="/" class="header-logo">
                    <img src="/img/log.png">
                </a>
            </div>
        </div>
    </div> <!--header end-->
    <div class="content">
        <div class="info-find">
            <div class="container">
                <h1>비밀번호 찾기</h1>
                <div class="default-tabs md">
                     <ul class="tab-list">
                         <li class="tab-button active" data-target="pwFind">비밀번호</li>
                     </ul>
                    <div class="tab-content" id="pwFind" >
                        <h6>비밀번호 찾기</h6>
                        <p>가입 시 등록하신 이메일 주소를 입력해 주세요.비밀번호 를 보내드리겠습니다.</p>
                        <div class="info-find-input-area">
                            <div class="input-group md">
                                <label>이메일</label>
                                <input type="text" id="text01" placeholder="이메일 주소를 입력해주세요">
                            </div>
                            <button type="submit" class="btn btn-gray btn-xl open-modal">이메일 로 임시 비밀번호 받기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:fragment="passwordfindScript">
    <script>
        $(document).ready(function () {
            $('.btn-gray').click(function (e) {
                e.preventDefault();
                var email = $('#text01').val();
                if (!email) {
                    alert('이메일 주소를 입력해주세요.');
                    return;
                }
                $.ajax({
                    url: '/send/password',
                    type: 'POST',
                    data: { email: email },
                    success: function (response) {
                        alert(response);
                        window.location.href = '/EmailLogin.html';
                    },
                    error: function (xhr, status, error) {
                        alert('오류 발생: ' + xhr.responseText);
                    }
                });
            });
        });
    </script>
</th:block>
</body>
</html>